.Main {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: -0.5rem;
}

.MainCard {
    flex: 1 1 auto;
    padding: 2rem 1rem 0 2rem;
}

.AddProject {
    position: absolute;
    top: 8.5rem;
    right: 1rem;
}